@font-face {
   font-family: 'D-DINExp-Bold';
   font-display: swap;
   src: url('D-DINExp-Bold/font.woff');
}
@font-face {
   font-family: 'D-DIN';
   font-display: swap;
   src: url('D-DIN/font.ttf');
}
