@font-face {
   font-family: 'D-DINExp-Bold';
   font-display: swap;
   src: url('file:///C:/Users/diam.ahmed.b/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-06_000810/fonts/D-DINExp-Bold/font.woff');
}
